@model RibbitMVC.Models.User

<div class="ribbitWrapper">
    <img class="avatar" src="http://www.gravatar.com/avatar/@Model.Profile.GetEmailHash()">
    <span class="name">
        <!--this worth noticing-->
        @Html.RouteLink(Model.Profile.Name, "UserDefault", new { controller = "User", username = Model.Username, action = "Index" })
    </span>@@@Model.Username
    <!--profile doesn't belongs to current user-->
    @Html.Partial("_FollowButtonPartial", Model)
    <!--bio-->
    <p>
        @Model.Profile.Bio
    </p>
</div>
